<div class='row'>
  <div class='col-md-9'>
    <h1 class='display-4'>Bienvenue sur le site de JU' fait de la couture</h1>

    <p class='lead'>Passionnée de couture, je couds pour ma famille et moi depuis 8 ans maintenant.</p>
    <p class='lead'>Je couds mon dressing, celui de mon mari et de mes enfants depuis 3 ans, nous n'achetons presque
      plus de vêtements dans les magasins de prêt à porter et je partage avec vous mes aventures "couturesques" !</p>
    <p class='lead'>J'aimerais rendre à la communauté couture, à mon petit niveau, tout ce qu'elle m'a apporté et
      appris ; et espère que mon approche décomplexée de la couture donne envie au plus grand nombre de se lancer dans
      la fabrication de vêtements.</p>
  </div>

  <div class='col-md-9' [ngSwitch]='account !== null' *ngIf='account'>
    <h1 class='display-4'>Dashboard</h1>
    <p class='lead'>Page d'accueil</p>

    <div [ngSwitch]='account !== null'>
      <!--      <div class='alert alert-success' *ngSwitchCase='true'>-->
      <!--        <span id='home-logged-message' *ngIf='account' jhiTranslate='home.logged.message'-->
      <!--              [translateValues]='{ username: account.login }'-->
      <!--        >Bienvenue sur ton compte "{{ account.login }}".</span-->
      <!--        >-->
      <!--      </div>-->

      <div class='cards' [ngSwitch]='account !== null'>
        <div *ngIf='account'>
          <!--        1ere card-->
          <mat-card class='example-card'>
            <mat-card-header>
              <div mat-card-avatar class='example-header-image'></div>
              <mat-card-title>Podcast</mat-card-title>
              <mat-card-subtitle>Bilan couture Janvier 2023</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image width='516' height='315' [src]='getSafeUrl()'
                    title='Podcast couture - Bilan couture Janvier 2023 - 17 projets cousus' frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                    allowfullscreen></iframe>
            <!--        <mat-card-content>-->
            <!--          <p>-->
            <!--            Test couture.-->
            <!--          </p>-->
            <!--        </mat-card-content>-->
            <mat-card-actions>
              <div class='example-button-row'>
                <button mat-flat-button color='warn' aria-label='Like'>
                  Like
                </button>
                <a mat-flat-button href='https://www.youtube.com/@jufait/videos' target='_blank' color='accent'
                   aria-label='See'>
                  En voir plus
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
          <!--        2eme card-->
          <mat-card class='example-card'>
            <mat-card-header>
              <div mat-card-avatar class='example-header-image'></div>
              <mat-card-title>Podcast</mat-card-title>
              <mat-card-subtitle>Bilan couture Janvier 2023</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image width='516' height='315' [src]='getSafeUrl()'
                    title='Podcast couture - Bilan couture Janvier 2023 - 17 projets cousus' frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                    allowfullscreen></iframe>
            <mat-card-actions>
              <div class='example-button-row'>
                <button mat-flat-button color='warn' aria-label='Like'>
                  Like
                </button>
                <a mat-flat-button href='https://www.youtube.com/@jufait/videos' target='_blank' color='accent'
                   aria-label='See'>
                  En voir plus
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
          <!--        3eme card-->
          <mat-card class='example-card'>
            <mat-card-header>
              <div mat-card-avatar class='example-header-image'></div>
              <mat-card-title>Podcast</mat-card-title>
              <mat-card-subtitle>Bilan couture Janvier 2023</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image width='516' height='315' [src]='getSafeUrl()'
                    title='Podcast couture - Bilan couture Janvier 2023 - 17 projets cousus' frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                    allowfullscreen></iframe>
            <mat-card-actions>
              <div class='example-button-row'>
                <button mat-flat-button color='warn' aria-label='Like'>
                  Like
                </button>
                <a mat-flat-button href='https://www.youtube.com/@jufait/videos' target='_blank' color='accent'
                   aria-label='See'>
                  En voir plus
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
          <!--        4eme card-->
          <mat-card class='example-card'>
            <mat-card-header>
              <div mat-card-avatar class='example-header-image'></div>
              <mat-card-title>Podcast</mat-card-title>
              <mat-card-subtitle>Bilan couture Janvier 2023</mat-card-subtitle>
            </mat-card-header>
            <iframe mat-card-image width='516' height='315' [src]='getSafeUrl()'
                    title='Podcast couture - Bilan couture Janvier 2023 - 17 projets cousus' frameborder='0'
                    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                    allowfullscreen></iframe>
            <mat-card-actions>
              <div class='example-button-row'>
                <button mat-flat-button color='warn' aria-label='Like'>
                  Like
                </button>
                <a mat-flat-button href='https://www.youtube.com/@jufait/videos' target='_blank' color='accent'
                   aria-label='See'>
                  En voir plus
                </a>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
